* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 15px;
    background-color: #000;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #fff;
    border: 4px solid #000;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7);
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1.5rem 3.5rem;
    color: #fff;
    background-color: rgba(61, 61, 61, 0.3);
    backdrop-filter: blur(5px);
    z-index: 9;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 1rem;
}

.container {
    max-width: 100%;
    margin-inline: auto;
}

section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    isolation: isolate;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.section-1 {
    background: url('https://cdn.pixabay.com/photo/2018/03/12/20/07/maldives-3220702_640.jpg') no-repeat center;
    background-size: contain;
}

.section-2 {
    background: url('https://cdn.pixabay.com/photo/2023/03/06/17/02/ship-7833921_640.jpg') no-repeat center;
    background-size: contain;
}

.section-3 {
    background: url('https://cdn.pixabay.com/photo/2021/10/23/23/27/dead-sea-6736592_640.jpg') no-repeat center;
    background-size: contain;
}

.section-4 {
    background: url('https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_640.jpg') no-repeat center;
    background-size: contain;
}