@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    letter-spacing: 1px;
}


#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 400px; */
    width: 300px;
    padding: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    background-color: #282828;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 15px;
    outline: 0;
    border: 0;
    border-radius: 3px;
    color: #fff;
    background-color: #444444;
}

input::placeholder {
    color: #878787;
    letter-spacing: 0.5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-top: 10px;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 221, 0);
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: translateY(2px);
}

button:hover {
    background-color: rgb(205, 133, 50);
}