@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 450px;
    width: 400px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}


.container p {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.container img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

#generate-btn {
    padding: 15px 30px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: navajowhite;
    border: none;
    color: #fff;
    background-color: darkblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

#generate-btn:active {
    transform: scale(0.9);
}

.creator {
    text-align: center;
    margin-top: 50px;
}

.creator a {
    text-decoration: none;
    color: initial;
}