body {
    font-family: Arial;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button {
    padding: 15px 30px;
    border: 0;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #fe509d;
    color: #fff;
    box-shadow: 5px 5px 0px #000;
    font-size: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.toast {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.7, -0.5, 0.3, 1.3);
}

.toast.show {
    transform: translateX(0%);
}

.toast i {
    color: #008000;
}
